<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    {% block css-block %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endblock %}
    
    {% block extra-css %}{% endblock %}

    {% block title %}<title> Ambit Rafika | Home</title> {% endblock %}

</head>

<body>

    {% block content %}
    

    {% endblock %}


    {% block footer-js %}


    {% endblock %}

    {% block extra-js %}{% endblock %}

</body>

</html>